window {
    margin: 6px;
    border: 2px solid #c4a7e7;
    background-color: #191724;
    color: #e0def4;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #1f1d2e;
    color: #e0def4;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#outer-box {
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
}

#scroll {
    margin: 4px;
}

#entry {
    padding: 4px 8px;
    margin: 2px 0;
    border-radius: 6px;
}

#entry:selected {
    background: #1f1d2e;
    color: #e0def4;
    border: 1px solid #c4a7e7;
}
