window {
    margin: 6px;
    border: 2px solid #89b4fa;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #181825;
    color: #cdd6f4;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#entry {
    padding: 4px 8px;
    border-radius: 6px;
}

#entry:selected {
    background: #313244;
    color: #cba6f7;
    border: 1px solid #89b4fa;
}
