window {
    margin: 6px;
    border: 2px solid #bd93f9;
    background-color: #282a36;
    color: #f8f8f2;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #282a36;
    color: #f8f8f2;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#entry {
    padding: 4px 8px;
    border-radius: 6px;
}

#entry:selected {
    background: #44475a;
    color: #ff79c6;
    border: 1px solid #bd93f9;
}
