window {
    margin: 6px;
    border: 2px solid #a7c080;
    background-color: #2b3339;
    color: #d3c6aa;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #1e2326;
    color: #d3c6aa;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#entry {
    padding: 4px 8px;
    border-radius: 6px;
}

#entry:selected {
    background: #323c41;
    color: #d699b6;
    border: 1px solid #a7c080;
}
