window {
    margin: 6px;
    border: 2px solid #88c0d0;
    background-color: #2e3440;
    color: #e5e9f0;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #3b4252;
    color: #e5e9f0;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#entry {
    padding: 4px 8px;
    border-radius: 6px;
}

#entry:selected {
    background: #434c5e;
    color: #88c0d0;
    border: 1px solid #88c0d0;
}
