window {
    margin: 6px;
    border: 2px solid #7aa2f7;
    background-color: #1a1b26;
    color: #cdd6f4;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #1f2335;
    color: #cdd6f4;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#entry {
    padding: 4px 8px;
    border-radius: 6px;
}

#entry:selected {
    background: #2f334d;
    color: #c099ff;
    border: 1px solid #7aa2f7;
}
