window {
    margin: 6px;
    border: 2px solid #7aa2f7;
    background-color: #1a1b26;
    color: #c0caf5;
    border-radius: 10px;
}

#input {
    margin: 6px;
    padding: 4px 8px;
    background: #1f2335;
    color: #c0caf5;
    border-radius: 8px;
}

#inner-box {
    margin: 6px;
}

#outer-box {
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
}

#scroll {
    margin: 4px;
}

#entry {
    padding: 4px 8px;
    margin: 2px 0;
    border-radius: 6px;
}

#entry:selected {
    background: #1f2335;
    color: #c0caf5;
    border: 1px solid #7aa2f7;
}
