* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(40, 42, 54, 0.25);
    color: #f8f8f2;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(40, 42, 54, 0.7);
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
    border: 2px solid rgba(189, 147, 249, 0.6);
}

#clock {
    padding: 0 10px;
    border-radius: 15px;
    color: #ff79c6;
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    font-size: 13pt;
    color: #f8f8f2;
    border: none;
    border-radius: 15px;
    padding: 0 5px;
}

#workspaces button.active {
    background: #282a36;
    color: #bd93f9;
}

#workspaces button:hover {
    background: #44475a;
    color: #8be9fd;
}

#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#idle_inhibitor {
    padding: 0 10px;
    border-radius: 15px;
    background: transparent;
    color: #f8f8f2;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#idle_inhibitor:hover {
    background: rgba(68, 71, 90, 0.9);
}
