* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(40, 42, 54, 0.25);
    color: #f8f8f2;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(40, 42, 54, 0.7);
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
    border: 2px solid rgba(189, 147, 249, 0.6);
}

#clock {
    padding: 0 10px;
    border-radius: 15px;
    color: #ff79c6;
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    font-size: 13pt;
    color: #f8f8f2;
    border: none;
    border-radius: 15px;
    padding: 0 5px;
}

#workspaces button.active {
    background: #282a36;
    color: #bd93f9;
}

#workspaces button:hover {
    background: #44475a;
    color: #8be9fd;
}

#memory { color: #f8f8f2; padding: 0 10px; }
#temperature { color: #ffb86c; padding: 0 10px; }
#cpu { color: #50fa7b; padding: 0 10px; }
#network { color: #8be9fd; padding: 0 10px; }
#pulseaudio { color: #ff79c6; padding: 0 10px; }
#backlight { color: #f8f8f2; padding: 0 10px; }
#language { color: #f8f8f2; padding: 0 10px; }
#battery { color: #f8f8f2; padding: 0 10px; }
#custom-media { color: #f8f8f2; padding: 0 10px; }
#tray { color: #f8f8f2; padding: 0 10px; }
#idle_inhibitor { color: #f8f8f2; padding: 0 10px; }
#custom-arch { color: #bd93f9; padding: 0 10px; font-size: 22px; transition: color .3s; }
#custom-arch:hover { color: #ff79c6; }
#battery.warning { color: #ffb86c; }
#battery.critical { color: #ff5555; }
#battery.charging { color: #50fa7b; }
