@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg #05171E;
@define-color main-fg #4F96A6;
@define-color wb-act-bg #31537B;
@define-color wb-act-fg #0B0F13;
@define-color wb-hvr-bg #18495E;
@define-color wb-hvr-fg #110F6D;
